{% extends 'base.html.twig' %}

{% block content %}
    <h3 class="inline">
        Transaction n°
    </h3>
    <h5 class="box">
        {{ transaction['transactionId'] }}
    </h5>
    {{ form_start(form) }}
        <div>
            {{ form_label(form.status) }}
            <div class="input-field">
                {{ form_widget(form.status) }}
            </div>
            <div>
                {{ form_errors(form.status) }}
            </div>
            <div>
                {{ form_widget(form.save, {'attr': {'class': 'waves-effect waves-light btn amber accent-4'}}) }}
                <button class="waves-effect waves-light btn black">Annuler</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}